@media (min-width:992px) {

/*******************************
*
* #body header
*
*******************************/

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1332px;
}



/*******************************
*
* #body banner
*
*******************************/





/*******************************
*
* #body container
*
*******************************/




}