@media (min-width: 768px) and (max-width: 991px)
{
    
/*******************************
*
* #body header
*
*******************************/

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1332px;
}


/*******************************
*
* #body banner
*
*******************************/



/*******************************
*
* #body container
*
*******************************/



}



